body{
    background-color: rgb(230, 225, 255);
}
.card{
  background: linear-gradient(
    135deg,
    #c2b9f0 0%,
    #8f7ad8 40%,
    #5a3ea8 100%
  );
    position: relative;
    width: 300px;
    height: 500px;
    text-transform: capitalize;
    border: 3px solid  rgb(230, 225, 255);
    border-radius: 30px;
    box-shadow: 10px 10px  10px 10px rgba(128, 128, 128, 0.315);
    margin:1000px;
    margin-top:300px;
    padding: 20px;
    transition: 5s ;
    animation-name: transform;
    animation-duration: 3s;  
}
.img{
    position: absolute;
    top: -3px;
    left: -3px;
    width: 346px;
    height: 320px;
    border: 1px solid  linear-gradient(
  135deg,
  rgba(194, 185, 240, 0.486),
  rgba(140, 120, 220, 0.8)
);
border-radius: 20px;

}
.white-area{
    background-color: white;
    border: 10px solid white;
    border-radius: 30px;
    height: 252px;
    width: 328px;
    position: absolute;
    top:270px;
    left:-2px;

}
h1{
    
    position: absolute;
    top: -10px;
    padding-left: 10px;
}

p{
    position: absolute;
    top: 70px;
    left: 5px;
}
h3{ text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: grey;
    position: absolute;
    top: 175px;
    left: 5px;
}
h2{
    position: absolute;
    top: 200px;
    left: 5px;
}

button{
    background-color: #8f7ad8;
    color: white;
    text-transform: capitalize;
    width: 200px;
    height: 50px;
    border: 2px solid #8f7ad8;
    border-radius: 5px;
    position: absolute;
    top:195px;
    right:10px
}
.borders{
    display: flex;
    flex-direction: row;
    margin-left: 10px;


}
h4{
    text-align: center;
    width: 50px;
    border: 2px solid gray;
    color: gray;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    

}
.shoes-colors{
    width: 100px;
    position: absolute;
    left: 70px;
}
.card:hover{
    transition: 3s;
    transform: scale(1.2);
}
button:hover{
    transition: 2s;
    transform: scale(1.1);
    opacity: 75%;
    
}
@keyframes transform {
    0% { transform: translate(20px, 0); }
    50% { transform: translate(40px, 0); }
    100% { transform: translate(80px, 0); }
}