nav{
    text-transform: capitalize;
    display: flex;

}
.logo{
    display: flex;
    position: absolute;
    left: 20%; 
    padding: 10px;
    
}  
h2{
    margin-top: 0;
}
ul{
    display: flex;
    position: absolute;
    right: 0;
    list-style-type: none;
    margin-right: 5%;
    }
    
a{  
    padding: 10px;
    text-decoration: none;
    color: black;

}

.brown{
    color: rgb(173, 134, 102);
}
.main{

    margin-top: 50px;
    position: relative;
    


     
    }
.img{
    background-image: url("./images/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1500px;
    border: 5px solid white;
    border-radius: 0px 0px  0px 200px;
    


    }
.text{
position: absolute;
top: 300px;
    left: 150px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    
    }
h1{
      text-transform: capitalize;
        font-size: 90px;
}
p{
    text-transform: capitalize;
    margin-top: -20px;
}
.btn{
       
        text-transform: capitalize;
        background-color: black;
        color: white;
        border: 20px solid black;
        border-radius: 8px;
        width: 30%;
    } 
    .card{
        text-align: center;
        width: 250px;
        height: 350px;
        border-right: 2px solid rgba(128, 128, 128, 0.212) ;
        border-left: 2px solid rgba(128, 128, 128, 0.178) ;


    }
    .cards{
        text-transform: capitalize;
        display:flex;
        justify-content: center;
        margin: 10px;
        gap: 200px;

    }

   .card-p{
    font-size: 15px;
    margin-top: 5px;
   }

   .after-cards{
    display: flex;
    justify-content: space-evenly;
   }
   .text-after-cards{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
   }
   h4{
    font-size: 50px;
   }
.btn-after-cards{
    background-color: rgb(58, 67, 71);
    color: white;
        border: 20px solid rgb(58, 67, 71);
        border-radius: 8px;
        width: 50%;
    } 
   .img-after-card img {
  width: 400px;
  height: 400px;
  border-radius: 0px 200px 0px 100px;
  object-fit: cover;
}
.final{
    background-color: rgb(248, 241, 216);
    text-transform: capitalize;
    text-align: center;
    border: 5px solid rgb(248, 241, 216);
    border-radius: 50px;
    margin-top: 20px;
    margin: auto;
    width: 65%;

}
h5{
    font-size: 40px;
}
.final-card{
    display: flex;
    justify-content: center;
    margin-bottom:30px ;
    gap: 30px;
}
.first-final-card{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.final-card-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
}
.final-section-img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.final-p{
    font-size: 10px;
    line-height: 20px;
}