nav{
     position: fixed;   
    top: 0;            
    left: 0;           
    width: 100%;      
        background-color: #ffffff; 

    text-transform: capitalize;
    display: flex;
    height: 80px;
    font-size: 25px;
      z-index: 1000;     
    box-shadow: 0 2px 5px rgba(0,0,0,0.2)

}
.logo{
    display: flex;
    position: absolute;
    left: 20%; 
    padding: 10px;
    font-size: 30px;
    
}  
h2{
    margin-top: 0;
  
}

ul{
    display: flex;
    position: absolute;
    right: 0;
    list-style-type: none;
    margin-right: 5%;
    font-size: 30px;
    gap: 100px;
    }
    
a{  
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;

}
a:hover{
    background-color: black;
    color: white;
    
    
}

.brown{
    color: rgb(173, 134, 102);
}
.main{

    margin-top: 50px;
    position: relative;
    


     
    }
.img{
    background-image: url("./images/main.jpg");
    background-repeat: no-repeat;
    height: 150vb;
    border-radius: 0px 0px  0px 200px;
    background-size: 100% auto;
    
    
    
}

.text{
position: absolute;
top: 300px;
    left: 150px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    
    }
h1{
      text-transform: capitalize;
        font-size: 90px;
}
p{
    margin-top: -20px;
    font-size: 30px;
}
.btn{
       font-size: 20px;
        text-transform: capitalize;
        background-color: black;
        color: white;
        border: 20px solid black;
        border-radius: 8px;
        width: 30%;
        height: 100px;
    } .btn:hover{
        transition: 2s  ;
        transform: scale(1.3);
        opacity: 70%;
    }
    .cards{
        text-transform: capitalize;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px;
        gap: 200px;
        
    }
    
    .card{
        text-align: center;
        width:400px;
        height: 350px;
        border-right: 2px solid rgba(128, 128, 128, 0.212) ;
        border-left: 2px solid rgba(128, 128, 128, 0.178) ;
        transition:1s ;
        font-size: 30px;
    


    } 
    .card:hover{
        transform: scale(1.1);
    }
   .card-p{
    font-size: 20px;
    margin-top: 5px;
    color: rgb(117, 114, 114);
   }
   .view-more{
    text-decoration: none;
    transition: 1.1s ;
   }
   .view-more:hover{
    background-color: black;
    color: white;

   }

   .after-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
   }
   .text-after-cards{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
   }
   h4{
    font-size: 50px;
   }
.btn-after-cards{
    background-color: rgb(0, 0, 0);
    color: white;
        border: 20px solid rgb(0, 0, 0);
        border-radius: 8px;
        width: 30%;
    } 
   .img-after-card img {
  width: 600px;
  height:600px;
  border-radius: 0px 200px 0px 100px;
  object-fit: cover;
  overflow: hidden;
}
.final{
    background-color: rgb(247, 243, 232);
    text-transform: capitalize;
    text-align: center;
    border: 5px solid rgb(248, 241, 216);
    border-radius: 50px;
    margin-top: 20px;
    margin: auto;
    width: 65%;

}
h5{
    font-size: 40px;
}
.final-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:30px ;
    gap: 30px;
}
.first-final-card{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.final-card-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    gap: 10px;
}
.final-card-title img{
    margin-top: 15px;
}
.final-section-img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.final-p{
    font-size: 10px;
    line-height: 40px;
    letter-spacing: 1px;
}

@media (max-width: 480px) {
  nav {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .logo {
    position: static;
    font-size: 18px;
    padding: 5px;
  }

  h2 {
    font-size: 16px;
    margin-top: 10px;
  }

  ul {
    position: static;
    font-size: 12px;
    gap: 2px;
    margin-right: 20px;
    margin-top: 0;
    align-items: center;
    padding: 0;
  }

  a {
    padding: 6px 8px;
    font-size: 12px;
  }

  .main {
    margin-top: 60px;
  }

  .img {
    height: 50vh;
    border-radius: 0px 0px 0px 60px;
    background-size: cover;
    background-position: center;
  }

  .text {
    top: 30px;
    left: 20px;
    right: 20px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 13px;
    margin-top: -5px;
  }

  .paragraph-on-photo {
    display: none;
  }

  .btn {
    font-size: 12px;
    height: auto;
    padding: 8px 10px;
    width: 60%;
    border: 10px solid black;
  }

  .cards {
    gap: 30px;
    margin: 15px;
    margin-top: 20px;
  }

  .card {
    width: 90%;
    height: auto;
    font-size: 18px;
    padding-bottom: 15px;
  }

  .card-p {
    font-size: 14px;
  }

  .after-cards {
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }

  .text-after-cards {
    align-items: center;
    text-align: center;
  }

  h4 {
    font-size: 26px;
  }

  .btn-after-cards {
    width: 60%;
    border: 10px solid black;
    padding: 3px;
    margin: 10px;
  }

  .img-after-card img {
    width: 100%;
    height: 300px;
    border-radius: 0px 80px 0px 40px;
  }

  .final {
    width: 92%;
    border-radius: 20px;
    padding: 10px;
  }

  h5 {
    font-size: 20px;
  }

  .first-final-card {
    width: 85%;
    height: auto;
    padding-bottom: 15px;
  }

  .final-p {
    font-size: 9px;
    line-height: 25px;
  }
}

/* ---------- Mobile Large / Small Tablet (481px – 768px) ---------- */
@media (min-width: 481px) and (max-width: 768px) {
  nav {
    height: 65px;
    align-items: center;
    padding: 0 20px;
  }

  .logo {
    left: 5%;
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
    margin-top: 12px;
  }

  ul {
    font-size: 15px;
    gap: 25px;
    margin-right: 10%;
    margin-top: 20px;
  }

  a {
    padding: 10px 12px;
  }

  .main {
    margin-top: 65px;
  }

  .img {
    height: 60vh;
    border-radius: 0px 0px 0px 100px;
    background-size: cover;
    background-position: center;
  }

  .text {
    top: 80px;
    left: 50px;
    right: 30px;
  }

  h1 {
    font-size: 42px;
  }

  p {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
    height: auto;
    padding: 12px 18px;
    width: 45%;
    border: 12px solid black;
  }

  .cards {
    gap: 60px;
    margin: 20px;
    flex-wrap: nowrap;
  }

  .card {
    width: 280px;
    height: auto;
    font-size: 22px;
    padding-bottom: 15px;
  }

  .card-p {
    font-size: 15px;
  }


  .after-cards {
    flex-direction: column;
    align-items: center;
  }

  .text-after-cards {
    align-items: center;
    text-align: center;
  }

  h4 {
    font-size: 32px;
  }

  .btn-after-cards {
    width: 50%;
    border: 12px solid black;
    margin: 20px;
  }

  .img-after-card img {
    width: 100%;
    max-width: 450px;
    height: 400px;
    border-radius: 0px 120px 0px 60px;
  }

  .final {
    width: 88%;
    border-radius: 30px;
  }
  .final-card{
    flex-wrap: nowrap;
  }

  h5 {
    font-size: 28px;
  }

  .first-final-card {
    width: 260px;
    height: auto;
  }
}

/* ---------- Tablet (769px – 1024px) ---------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    left: 10%;
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  ul {
    font-size: 20px;
    gap: 50px;
    margin-right: 4%;
  }

  .img {
    height: 100vh;
    border-radius: 0px 0px 0px 150px;
    background-size: cover;
    background-position: center;
  }

  .text {
    top: 180px;
    left: 80px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 22px;
  }

  .btn {
    font-size: 16px;
    height: auto;
    padding: 15px 20px;
    width: 35%;
    border: 15px solid black;
  }

  .cards {
    gap: 100px;
    margin: 25px;
    flex-wrap: nowrap;
  }

  .card {
    width: 320px;
    height: 320px;
    font-size: 24px;
  }
  .btn-after-cards{
    margin: 20px;
  }

  h4 {
    font-size: 38px;
  }

  .img-after-card img {
    width: 450px;
    height: 450px;
    border-radius: 0px 150px 0px 75px;
  }

  .final {
    width: 78%;
  }

  h5 {
    font-size: 32px;
  }

  .first-final-card {
    width: 260px;
    height: 230px;
  }
}

/* ---------- Large Desktop (1025px – 1440px) ---------- */
@media (min-width: 1025px) and (max-width: 1440px) {
  .logo {
    left: 15%;
  }

  ul {
    gap: 70px;
    font-size: 24px;
  }

  h1 {
    font-size: 75px;
  }

  .cards {
    gap: 150px;
    flex-wrap: nowrap;
  }

  .card {
    width: 370px;
  }

  .img-after-card img {
    width: 520px;
    height: 520px;
  }
}
