nav{
    text-transform: capitalize;
    display: flex;

}
.logo{
    display: flex;
    position: absolute;
    left: 20%; 
    padding: 10px;
    
}  
h2{
    margin-top: 0;
}
ul{
    display: flex;
    position: absolute;
    right: 0;
    list-style-type: none;
    margin-right: 5%;
    }
    
a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.brown{
    color: rgb(235, 164, 107);
}
.main{
    background-image: ;
}